.wrapper {
  background-color: #456789;
  display: grid;
  font-weight: 800;
  grid-gap: 0.8rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas:
    'one   one   one    one    one    one    two    two    two    two    two    two'
    'one   one   one    one    one    one    two    two    two    two    two    two'
    'one   one   one    one    one    one    two    two    two    two    two    two'
    'one   one   one    one    one    one    three  three  three  four   four   four'
    'one   one   one    one    one    one    three  three  three  four   four   four'
    'one   one   one    one    one    one    three  three  three  four   four   four'
    'five  five  five   seven  seven  seven  seven  seven  seven  eight  eight  eight'
    'five  five  five   seven  seven  seven  seven  seven  seven  eight  eight  eight'
    'six   six   six    seven  seven  seven  seven  seven  seven  eight  eight  eight'
    'six   six   six    seven  seven  seven  seven  seven  seven  eight  eight  eight'
    'six   six   six    seven  seven  seven  seven  seven  seven  nine   nine   nine'
    'six   six   six    seven  seven  seven  seven  seven  seven  nine   nine   nine'
    ;
  height: calc(100% - var(--header-height));
  padding: 1em;
  text-align: center;
}

.box {
  align-content: center;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: inline-grid;
  font-size: 1.5em;
  font-weight: bold;
  padding: 1.5rem;
  text-align: center;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

@media (max-width: 600px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      'one one'
      'three four'
      'two two'
      'seven seven'
      'five eight'
      'six nine';
  }

  .box {
    font-weight: bold;
  }
}
